<% provide(:title, "Home") %>
<h1>Micro Blog</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  <br><br>
  <a href="/static_pages/help">Help</a><br>
  <a href="/static_pages/about">About</a><br>
</p>